<footer class="bg-primary text-white text-center py-2 fixed-bottom">
  <p class="pt-2">2022 • <a href="https://instagram.com/rahmaninsani_/" class="text-reset" target="_blank">Rahman Insani</a></p>
</footer>
