<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: "Page Not Found" }); %>

  <body>
    <main>
      <section class="container-fluid bg-primary">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-12 text-center">
            <img src="/images/404.svg" id="not-found-image" class="img-fluid" alt="404 Not Found" />
            <h5 class="mt-5 mb-4 text-white">Page Not Found</h5>
            <a href="/" class="btn btn-warning mt-2">Back to Home</a>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/script.ejs'); %>
  </body>
</html>
